{% load static %}

<div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="pre-img">
                <script type="text/javascript" style="display:none">
                    //<![CDATA[
                    window.__mirage2 = { petok: "6e38fad07bd588048baad8135f214d221fbbf884-1665222492-1800" };
//]]>
                </script>
                <script type="text/javascript"
                    src="../../../ajax.cloudflare.com/cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js' %} "></script>
                <img data-cfsrc=" {% static 'img/footer-logo.png' %} " alt="Logo"
                    style="display:none;visibility:hidden;"><noscript><img
                        src=" {% static 'img/footer-logo.png' %} " alt="Logo"></noscript>
            </div>
            <div class="spinner">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
            </div>
        </div>
    </div>
</div>


<div class="navbar-area">

    <div class="mobile-nav">
        <a href="index.html" class="logo">
            <img src=" {% static 'img/footer-logo.png' %} " alt="Logo"></noscript>
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="index.html">
                    <img src=" {% static 'img/logo.png' %} " class="logo-one" alt="Logo"></noscript>
                    <img src=" {% static 'img/footer-logo.png' %} " class="logo-two" alt="Logo"></noscript>
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Home
                                
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">
                                About
                            </a>
                        </li>
                        {% comment %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Pages
                                <i class='bx bx-plus'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">
                                        Pricing
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">
                                        FAQ
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="designer.html" class="nav-link">
                                        Designer
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="testimonials.html" class="nav-link">
                                        Testimonials
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">
                                        404 page
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="sign-in.html" class="nav-link">
                                        Sign In
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="sign-up.html" class="nav-link">
                                        Sign Up
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="recover-password.html" class="nav-link">Recover Password</a>
                                </li>
                                <li class="nav-item">
                                    <a href="terms-condition.html" class="nav-link">
                                        Terms & Conditions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="coming-soon.html" class="nav-link">
                                        Coming Soon
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Level 1
                                        <i class='bx bx-plus'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Level 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Level 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Level 2
                                                <i class='bx bx-plus'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">Level 3</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">Level 3</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        {% endcomment %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Services
                                
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Gallery
                                
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Blog
                              
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                Contact
                            </a>
                        </li>
                    </ul>
                    
                    <div class="menu-btn">
                        <a href="tel:+11234567890" class="phone-btn">
                            <i class='bx bxs-phone'></i>
                            +1 123 456 7890
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>